<div id="register">
<div>
    <div layout="column" layout-align="center center" class="register">
        <form class="form-register" name="formRegister">
            <md-toolbar class="register-bar md-accent">
                <h2 class="md-toolbar-tools">
                    <span><img src="app/dist/img/favicon.png" width="27px"> Inscription</span>
                </h2>
            </md-toolbar>
            <div class="register-content">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label><i class="fa fa-user"></i> Nom</label>
                        <input type="text" name="firstname" ng-model="user.firstname" ng-minlength="1" ng-maxlength="100" required/>
                        <div ng-messages="formRegister.firstname.$error">
                            <div ng-message="required">Le nom est requis</div>
                            <div ng-message="minlength">Le nom est trop court</div>
                            <div ng-message="maxlength">Le nom est trop long</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label><i class="fa fa-user"></i> Prénom</label>
                        <input type="text" name="lastname"  ng-model="user.lastname" ng-minlength="1" ng-maxlength="100" required/>
                        <div ng-messages="formRegister.lastname.$error">
                            <div ng-message="required">Le prénom est requis</div>
                            <div ng-message="minlength">Le prénom est trop court</div>
                            <div ng-message="maxlength">Le prénom est trop long</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label><i class="fa fa-user"></i> Pseudo</label>
                        <input type="text" name="pseudo" ng-model="user.pseudo" ng-minlength="3" ng-maxlength="50" required pseudo-validation ng-model-options="{ updateOn: 'blur' }"/>
                        <div ng-messages="formRegister.pseudo.$error">
                            <div ng-message="required">Le pseudo est requis</div>
                            <div ng-message="pseudoValidation">Pseudo déjà utilisé</div>
                            <div ng-message="minlength">Le pseudo est trop court</div>
                            <div ng-message="maxlength">Le pseudo est trop long</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label><i class="fa fa-envelope"></i> Email</label>
                        <input type="email" name="email" ng-model="user.email" required email-validation ng-model-options="{ updateOn: 'blur' }"/>
                        <div ng-messages="formRegister.email.$error">
                            <div ng-message="required">L'email est requis</div>
                            <div ng-message="emailValidation">Email déjà utilisé</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label><i class="fa fa-calendar"></i> Date de naissance</label>
                        <input type="date" name="date_naissance" ng-model="user.birthdate" date-to-timestamp>
                        <div ng-messages="formRegister.date_naissance.$error">
                            <div ng-message="dateToTimestamp">La date doit être inférieure à la date d'aujourd'hui</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label><i class="fa fa-lock"></i> Mot de passe</label>
                        <input type="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="50" required>
                        <div ng-messages="formRegister.password.$error">
                            <div ng-message="required">Mot de passe requis</div>
                            <div ng-message="minlength">Le mot de passe est trop court</div>
                            <div ng-message="maxlength">Le mot de passe est trop long</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label><i class="fa fa-lock"></i> Confirmation mot de passe</label>
                        <input type="password" name="password_confirm" ng-model="verif.password" required password-verify="user.password">
                        <div ng-messages="formRegister.password_confirm.$error">
                            <div ng-message="required">Mot de passe requis</div>
                            <div ng-message="passwordVerify">Les mots de passe sont différents</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        Sexe
                        <md-radio-group ng-model="user.isfemale" required>
                            <md-radio-button ng-value="true"><i class="fa fa-female"></i> Femme</md-radio-button>
                            <md-radio-button ng-value="false"><i class="fa fa-male"></i>  Homme </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="end center" class="register-footer">
                <md-button type="submit" ng-click="register()" class="md-accent md-raised margin-right" ng-disabled="formRegister.$invalid"><i class="fa fa-check"></i> Inscription</md-button>
                <md-button href="/login" class="md-warn md-primary"><i class="fa fa-sign-in"></i> Connexion</md-button>
            </div>
        </form>
    </div>
</div>
</div>