<div id="update-password">
    <div layout="column" layout-align="center center" class="update-password">
        <form class="form-update-password" name="formUpdatePassword">
            <md-toolbar class="update-password-bar md-accent">
                <h2 class="md-toolbar-tools">
                    <span><img src="app/dist/img/favicon.png" width="27px"> Mise à jour du mot de passe</span>
                </h2>
            </md-toolbar>
            <div class="update-password-content">
                <div layout layout-sm="row">
                    <md-input-container flex>
                        <label><i class="fa fa-lock"></i> Ancien mot de passe</label>
                        <input type="password" name="oldPassword" ng-model="password.oldPassword" required>
                        <div ng-messages="formUpdatePassword.oldPassword.$error">
                            <div ng-message="required">Mot de passe requis</div>
                        </div>
                </div>
                <div layout layout-sm="row">
                    <md-input-container flex>
                        <label><i class="fa fa-lock"></i> Mot de passe</label>
                        <input type="password" name="newPassword" ng-model="password.newPassword" ng-minlength="5" ng-maxlength="50" required>
                        <div ng-messages="formUpdatePassword.newPassword.$error">
                            <div ng-message="required">Mot de passe requis</div>
                            <div ng-message="minlength">Le mot de passe est trop court</div>
                            <div ng-message="maxlength">Le mot de passe est trop long</div>
                        </div>
                </div>
                <div layout layout-sm="row">
                    </md-input-container>
                    <md-input-container flex>
                        <label><i class="fa fa-lock"></i> Confirmation mot de passe</label>
                        <input type="password" name="password_confirm" ng-model="verify.password" ng-minlength="5" ng-maxlength="50"  required password-verify="password.newPassword">
                        <div ng-messages="formUpdatePassword.password_confirm.$error">
                            <div ng-message="required">Mot de passe requis</div>
                            <div ng-message="minlength">Le mot de passe est trop court</div>
                            <div ng-message="maxlength">Le mot de passe est trop long</div>
                            <div ng-message="passwordVerify">Les mots de passe sont différents</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="end center" class="update-password-footer">
                <md-button type="submit" ng-click="update()" class="md-accent md-raised margin-right" ng-disabled="formUpdatePassword.$invalid"><i class="fa fa-check"></i> Mise à jour</md-button>
            </div>
        </form>
    </div>
</div>