<div id="uploadVideo" ng-repeat="notification in notifications.infos">
        <div ng-show="notification.uploadRate <= 99" class="download-not-end">
            <h4><i class="fa fa-upload"></i> {{notification.fileName}}</h4>
            <md-progress-linear class="md-primary margin-bottom" md-mode="determinate" value="{{notification.uploadRate}}"></md-progress-linear>
            <md-button class="pull-right" ng-click="hideProgressBar($index)"><i class="fa fa-close"></i></md-button>
            <div class="pull-left">{{notification.percent}}</div>
        </div>
        <div ng-show="notification.uploadRate == 100" class="download-end">
            <a ng-href="/watch/{{notification.videoKey}}" ng-click="hideProgressBar($index)">
                <md-button class="hideProgressBar" ng-click="hideProgressBar($index)"><i class="fa fa-close"></i></md-button>
                <h4><i class="fa fa-check-circle"></i> {{notification.fileName}}</h4>
                <img ng-src="/api/video/thumbnail/{{notification.videoKey}}?width=320&height=180" alt="" />
            </a>
        </div>
        <div class="clear"></div>
</div>